<a href="https://colab.research.google.com/github/ArturSiwy/Data-Academy/blob/main/HLTWK2ArturSiw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Task 2 of week 2 - defining function for next value of item
def depraciation(value, rate):
    return value-value*rate

In [ ]:
# Task 2 part 2 - using proecdure to call out function and give values year on year
value = int(input("Add item initial value: " ))
rate = float(input("Add depraciation rate in decimals: "))
y = 2

while value > 1000:
    value = depraciation(value, rate)
    if value > 1000:
        print ("Value in year", y, " - ", value)
        y = y + 1
    else: pass

Add item initial value: 1000000034562
Add depraciation rate in decimals: 0.456
Value in year 2  -  544000018801.72797
Value in year 3  -  295936010228.14
Value in year 4  -  160989189564.10815
Value in year 5  -  87578119122.87483
Value in year 6  -  47642496802.84391
Value in year 7  -  25917518260.747086
Value in year 8  -  14099129933.846415
Value in year 9  -  7669926684.012449
Value in year 10  -  4172440116.102772
Value in year 11  -  2269807423.1599083
Value in year 12  -  1234775238.19899
Value in year 13  -  671717729.5802506
Value in year 14  -  365414444.89165634
Value in year 15  -  198785458.02106103
Value in year 16  -  108139289.1634572
Value in year 17  -  58827773.30492072
Value in year 18  -  32002308.67787687
Value in year 19  -  17409255.92076502
Value in year 20  -  9470635.22089617
Value in year 21  -  5152025.560167516
Value in year 22  -  2802701.9047311284
Value in year 23  -  1524669.8361737337
Value in year 24  -  829420.3908785111
Value in year 25  -  451204.69263791
Value in year 26  -  245455.35279502303
Value in year 27  -  133527.71192049253
Value in year 28  -  72639.07528474793
Value in year 29  -  39515.65695490287
Value in year 30  -  21496.517383467162
Value in year 31  -  11694.105456606136
Value in year 32  -  6361.593368393737
Value in year 33  -  3460.706792406193
Value in year 34  -  1882.624495068969
Value in year 35  -  1024.1477253175192

In [ ]:
# Task 3 - week 2 - calcluator - step 1 = defining calculations as functions:
def add(x, y):
    return x+y
def sub(x, y):
    return x-y
def mul(x, y):
    return x*y
def div(x,y):
    return x/y
#def pow(x,y):
 #   return x**y

In [ ]:
# Task 3 - part 2 - defining procedure Calculator which is calling out pre-set functions

def calculator(x, y):
  if op == "+" or op == "a":
    print(add(x, y))
  elif op == "-" or op == "b":
    print(sub(x, y))
  elif op == "*" or op == "c":
    print(mul(x, y))
  elif op == ":" or op == "d":
    print(div(x, y))
  else:
    print("start again, wrong operator used")

In [ ]:
# Task 3 - part 3 - using calculator procedure to perform task with user inut
x = float(input("Enter 1st number: "))
y = float(input("Enter 2nd number: "))
op = input("a)+\nb)-\nc)*\nd):\n:")

calculator(x, y)

Enter 1st number: 323365685
Enter 2nd number: 23355456
a)+
b)-
c)*
d):
:d
13.8454023333991

In [ ]:
# Task 3 - REDONE
def calculator(x, y):
  if op == "+" or op == "a":
    print(x + y)
  elif op == "-" or op == "b":
    print(x - y)
  elif op == "*" or op == "c":
    print(x * y)
  elif op == ":" or op == "d":
    print(x / y)
  else:
    print("start again, wrong operator used")

In [ ]:
# Task 3 - REDONE
x = float(input("Enter 1st number: "))
y = float(input("Enter 2nd number: "))
op = input("a)+\nb)-\nc)*\nd):\n:")

calculator(x, y)